In [1]:
import Extract
import Transform
import Load

In [2]:
extracted_data=Extract.call()
print(extracted_data.head())#Print the data as documentation

       id                 createdAt                 updatedAt  archived  \
0  416102  2023-05-15T02:39:02.002Z  2023-07-02T03:21:09.194Z     False
1  413403  2023-05-15T02:39:02.003Z  2023-07-02T03:17:41.474Z     False
2  417951  2023-05-15T02:39:02.003Z  2023-07-02T03:12:00.570Z     False
3  419852  2023-05-15T02:39:02.003Z  2023-07-02T03:17:47.964Z     False
4  425352  2023-05-15T02:39:02.003Z  2023-07-02T03:16:09.371Z     False

             properties.address properties.country     properties.createdate  \
0          Blackpool  Rue, 6576          Waterford  2023-05-15T02:39:02.002Z
1       Parkfield  Avenue, 5340            Ireland  2023-05-15T02:39:02.003Z
2           Abourne   Lane, 876            Ireland  2023-05-15T02:39:02.003Z
3  Chester      Crossroad, 7070             Dublin  2023-05-15T02:39:02.003Z
4     Tilloch   Crossroad, 8332             Dublin  2023-05-15T02:39:02.003Z

  properties.firstname properties.hs_object_id   properties.industry  \
0                  Zoe                  416102      Poultry and fish
1                 Zara                  413403  Fruit and vegetables
2                 Zara                  417951               Milling
3               Winnie                  419852        Dairy products
4                  Zoe                  425352                  Meat

  properties.lastmodifieddate properties.lastname properties.phone  \
0    2023-07-02T03:21:09.194Z                Owen    0-774-386-624
1    2023-07-02T03:17:41.474Z             Rodwell    6-777-367-783
2    2023-07-02T03:12:00.570Z            Freeburn    5-618-556-540
3    2023-07-02T03:17:47.964Z              Walter    1-161-604-327
4    2023-07-02T03:16:09.371Z                Owen    5-645-416-200

                                properties.raw_email  \
0    Zoe <zoe_owen450104633@acrit.org> Contact Info.
1  Zara <zara_rodwell1398442854@nickia.com> Conta...
2  Zara <zara_freeburn1593147546@gmail.com> Conta...
3  Winnie <winnie_walter538064895@sheye.org> Cont...
4  Zoe <zoe_owen1652446013@bungar.biz> Contact Info.

  properties.technical_test___create_date
0                              2021-07-13
1                              2021-01-09
2                              2021-08-30
3                              2021-02-10
4                              2021-11-02

In [3]:
transformed_data=Transform.call()
print(transformed_data.head())#Print the data as documentation

     temporary_id        firstname                                 email  \
3058       425848     John Vallory      john_vallory1184653308@brety.org
664        413063    Ruby Donnelly     ruby_donnelly1666746478@gmail.com
4279       448553  Elijah Atkinson  elijah_atkinson1926359992@nanoff.biz
3605       444821     Harry Thomas     harry_thomas1268165352@nickia.com
6533       457926    Lara Shepherd    lara_shepherd1933970335@bauros.biz

             country       city           phone  \
3058         Ireland   Limerick  +3535068605531
664          Ireland  Waterford  +3535471416205
4279         England              +443887401154
3605  United Kingdom     London    +44420342324
6533         Ireland   Limerick   +353450637875

                                   original_industry original_create_date
3058         ;Dairy products;Milling;Bakery products           2021-12-05
664                          ;Dairy products;Milling           2021-11-28
4279                   ;Animal feeds;Bakery products           2021-09-07
3605  ;Fruit and vegetables;Poultry and fish;Milling           2021-03-23
6533                                   ;Animal feeds           2021-02-08

In [5]:
Load.call()# If we run it again we will have an http error, we need delete the data of hubspot.
#also I keep the private key of my app inside the library Load
#You can see the result in the image on github Hubspot_image.png

finish